.footer {
  background: #333;
  padding: 48px 0 32px;
  color: #fff;

  a {
    color: #fff;
  }

  &__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 13px;
  }

  &__content {

  }
}
