
.myCont {
  @include make-container();
}


.text_message {
  @include mobileDisplayNone();
}

.content_title {
  @include mobileDisplayNone();
}

// This CSS won't print because %equal-heights is never extended.
%reset_list {
  padding: 0;
  margin: 0;
  list-style: none;
}


.ul_li {
  @extend %reset_list;
  li {
    @include media-breakpoint-down(md) {
      width: 150px;
      background-color: #0d6efd;
    }
  }
}


/*
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
*/

@include media-breakpoint-down(md) {
  .page_brands_search input {
    display: none;
  }
}




@include media-breakpoint-down(lg) {
  .wrapper {
    text-align: center;
  }
}
